<script type="text/x-handlebars">
  <div class="row">
    <div class="large-12 columns">
      <div class="panel">
        {{#link-to "index"}}
          <h1>Twitter Feed</h1>
        {{/link-to}}
      </div>
    </div>
  </div>

  {{outlet}}

  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-5 columns">
          <p>&copy; Copyright no one at all. Go to town.</p>
        </div>
        <div class="large-7 columns">
        </div>
      </div>
    </div>
  </footer>
</script>

<script type="text/x-handlebars" data-template-name="new-tweet">
  <div id="compose-box" class="panel">
    <h6>Compose a tweet</h6>
    {{textarea value=newTweet.text placeholder="Shout it out!"}}
    <div class="toolbar">
      <div class="tweet-button">
        <button class="small button" {{action "sendTweet"}}>Tweet it</button>
      </div>
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="user">
  <div class="row">

    {{outlet}}

    <div class="small-12 medium-4 large-4 columns medium-pull-8 large-pull-8">
      {{partial "new-tweet"}}

      <div class="panel mini-profile">
        {{#link-to "user.timeline" this}}
          <img {{bind-attr src=profile_image_url}} />
          <div class="name">
            {{name}}
          </div>
        {{/link-to}}
        </a>
        <div class="row">
          <div class="large-4">
            <span class="profile-num">
              <strong>{{statuses_count}}</strong>
            <span>
            <span class="profile-quantity">Tweets</span>
          </div>
          <div class="large-4">
            <span class="profile-num">
              <strong>{{friends_count}}</strong>
            </span>
            <span class="profile-quantity">Following</span>
          </div>
          <div class="large-3 last">
            <span class="profile-num">
              <strong>{{followers_count}}</strong>
            </span>
            <span class="profile-quantity">Followers</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="user/home">
  {{partial "tweets"}}
</script>

<script type="text/x-handlebars" data-template-name="user/timeline">
  {{partial "tweets"}}
</script>

<script type="text/x-handlebars" data-template-name="_tweets">
    <div class="small-12 medium-8 large-8 columns medium-push-4 large-push-4">
      {{#each tweets itemController="tweet"}}
        <div class="row">
          <div class="small-3 large-2 columns ">
            <img {{bind-attr src="biggerProfileImage"}} />
          </div>
          <div class="small-9 large-10 columns">
            <p>
              {{#link-to "user.timeline" user}}
                <strong>{{screenName}}</strong>
              {{/link-to}}
              {{parsedText}}
            </p>
            {{#if retweetedLine}}
              <span class="retweeted-by">
                {{retweetedLine}}
              </span>
            {{/if}}
          </div>
        </div>
        <hr />
      {{/each}}
    </div>
</script>

